<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-3">
      <h3>
        <strong>Name:</strong>
        <%= @company.name %>
      </h3>

      <%= form_with model: [ @company, @employee ], local: true do |form| %>
      <%= form.hidden_field :company_id, value: @company.id %>

      <div class="field">
        <%= form.label "Nombre" %>
        <%= form.text_field :first_name %>
      </div>

      <div class="field">
        <%= form.label "Apellido" %>
        <%= form.text_field :last_name %>
      </div>

      <div class="field">
        <%= form.label "Email" %>
        <%= form.text_field :email %>
      </div>

      <div class="field">
        <%= form.label "Area" %>
        <%= form.select :area_id, Area.pluck(:name, :id) %>
      </div>


      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>
    </div>

    <div class="col-md-9">
      <h3> Empleados: </h3>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Área</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
        <% @employees.each do |employee| %>
        <tr>

            <td><%= employee.first_name %></td>
            <td> <%= employee.last_name %></td>
            <td> <%= employee.email %></td>
            <td> <%= employee.area.name %></td>
            <td> <%= link_to "Borrar", company_employee_path(@company, employee), class: 'btn btn-danger', method: :delete %></td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>








<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-success' %> |
<%= link_to 'Back', companies_path, class: 'btn btn-warning' %>
